// CARDS INDEX

%divIndexMobile {
    line-height: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p{
      padding: 10px;
    }
    h2{
      color: map-get($colors-index, neutralColor2);
      font-weight: lighter;
      padding: 10px;
    }
    .inputIndex{
      display: flex;
      justify-content: end;
      margin-right: 20px;
    }
}

%cardServicio {
    margin:10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @extend %divIndexMobile;
}


